@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-sm) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-sm + 1) and (max-width: $break-lg - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-lg) { @content; }
  }
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}